/* Imports */
@import url("./var.css");

/* *************************************************************************************************************************************** */
/* Estilização geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-light);
  font-family: "Inter", sans-serif;
  height: 100vh;
  width: 100vw;
  position: relative;
}

/* *************************************************************************************************************************************** */
/* Alerta */

#alert {
  display: none;
  width: 250px;
  height: 100px;
  border-radius: 10px;
  background-color: var(--secundaria-light);
  color: var(--texto-light);
  border: 1px solid var(--contraste-light);
  position: absolute;
  right: 15px;
  bottom: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: var(--4x);
  font-weight: bold;
  text-align: center;
}

#alert p {
  margin: var(--2x);
}

/* *************************************************************************************************************************************** */
/* Estilização header */
header {
  height: 10%;
  display: flex;
  justify-content: space-around;
}

/* apenas momentâneo enquanto n colocamos */
#timer {
  font-size: var(--6x);
  font-weight: bold;
  display: none;
  justify-content: center;
  align-items: center;
  color: var(--contraste-light);
}

#audio {
  display: flex;
}

#header-buttons {
  display: flex;
  align-items: center;
  position: relative;
}

#header-buttons button {
  color: var(--contraste-light);
  background-color: transparent;
  font-size: var(--5x);
}

/* usado para esconder botões para alterar depois */
.hide {
  display: none;
}

.btn-header {
  font-size: var(--4x);
  border: none;
  margin: var(--5x);
  cursor: pointer;
}

#seta {
  font-weight: 500;
  position: absolute;
  width: 315px;
  left: -300px;
  color: var(--texto-light);
}

/* *************************************************************************************************************************************** */
/* Corpo do site */
main {
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 7%;
}

.init-container {
  width: 600px;
  background-color: var(--primaria);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ededede0;
  border-radius: var(--8x);
  padding: var(--10x) 0;
  box-shadow: 0px 0px 50px 3px var(--primaria);
}

.init-container h2,
.init-container p {
  color: var(--texto-light);
  margin: var(--3x);
}

.init-container h2 {
  font-size: var(--8x);
}

.init-container p {
  font-size: var(--4x);
  font-weight: 600;
}

.init-form {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 5%;
}

.init-form form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-weight: 600;
}

#name,
#temas {
  margin: var(--2x) 0;
  padding-left: var(--3x);
  height: var(--9x);
  border: none;
  border-radius: var(--3x);
  background-color: var(--secundaria-light);
  border-style: none;
  font-size: var(--6px);
  cursor: pointer;
}

#btn-iniciar {
  height: var(--9x);
  margin: var(--10x) 0 0 0;
  border: none;
  border-radius: var(--5x);
  font-size: var(--4x);
  font-weight: bold;
  color: var(--secundaria-light);
  background-color: var(--contraste-light);
  cursor: pointer;
  transition: 0.5s;
}

#btn-iniciar:hover {
  color: var(--contraste-light);
  border: 1px solid var(--contraste-light);
  background-color: var(--secundaria-light);
}

/* *************************************************************************************************************************************** */
/* "Escondendo" a arquitetura da página */
.perguntas {
  display: none;
}

.btn-end {
  display: none;
}

#reiniciar {
  display: none;
}

#concluir {
  display: none;
}

#continuar {
  display: none;
}

#voltar {
  display: none;
}

.resultados {
  display: none;
}

.container-temas {
  display: none;
}

/* *************************************************************************************************************************************** */
/* Estilização das perguntas */
.perguntas {
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  height: 460px;
  width: 50%;
  padding-left: var(--7x);
  color: var(--texto-light);
  overflow-y: scroll;
}

#lista-perguntas {
  width: 100%;
}

.titulo-tema {
  color: var(--texto-light);
  margin-bottom: var(--5x);
}

.perguntas-container {
  margin-bottom: var(--2x);
  border: 1px solid var(--contraste-light);
  border-radius: var(--3x);
  padding: var(--2x);
}

.lista-organizacao {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.lista-organizacao label {
  color: var(--texto-light);
}

.separate {
  margin: var(--1x) var(--2x);
  display: flex;
  gap: var(--2x);
}


/* *************************************************************************************************************************************** */
/* Estilização da página de resultados */
.container-resultados {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--8x);
}

.resultados {
  justify-content: center;
  display: none;
}

#tabela-resultados {
  width: 800px;
  background-color: var(--primaria);
  border: 1px solid var(--contraste-light);
  border-radius: var(--8x);
  padding: var(--4x);
}

#tabela-resultados .linha-head{
  font-size: var(--6x);
}

#tabela-resultados td {
  text-align: center;
  font-size: var(--5x);
}

.media {
  display: none;
  gap: var(--10x);
}

#media-acertos {
  font-size: var(--5x);
  color: var(--cor-contador-acertos);
  font-weight: bold;
}

#media-erros {
  font-size: var(--5x);
  color: var(--cor-contador-erros);
  font-weight: bold;
}

.container-temas {
  gap: var(--3x);
  display: none;
  margin-bottom: var(--10x);
}

#entretenimento h2, #artes h2, #esportes h2 {
  font-size: var(--6x);
}

#entretenimento {
  flex: 2;
  margin: 0 var(--5x);
  font-size: var(--5x);
}

#artes, #esportes {
  flex: 2;
  margin: 0 var(--5x);
  font-size: var(--5x);
}

.ranking {
  counter-reset: posicao;
}

li.position:before {
  /* content: counter(posicao) ". ";
  counter-increment: posicao; */
  font-weight: bold;
  font-size: var(--4x);
  padding: 0 var(--1x);
}


/* *************************************************************************************************************************************** */
/* Estilização da barra de scrol do overflow */
::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: var(--4x);
}

::-webkit-scrollbar-thumb {
  background-color: var(--contraste-light);
  border-radius: 10px;
}

/* *************************************************************************************************************************************** */
/* Estilização botões inferiores */

.btn-end {
  padding-top: var(--4x);
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.btnInferiores {
  width: 160px;
  padding: var(--4x);
  color: var(--secundaria-light);
  background-color: var(--contraste-light);
  border: none;
  border-radius: var(--6x);
  cursor: pointer;
  transition: 0.5s;
  font-weight: bold;
}

#reiniciar:hover {
  background-color: #d36980;
}

#concluir:hover {
  background-color: #55ce77;
}

#continuar:hover {
  background-color: #ab90ef;
}

#voltar:hover {
  color: var(--contraste-light);
  border: 1px solid var(--contraste-light);
  background-color: var(--secundaria-light);
}
