:root {
  --primaria: #a8c3dc; /* Cor primária a ser utilziada */

  --secundaria-light: #dce5ef; /* Cor secundária a ser utilizada */
  --contraste-light: #4e65b1; /* Cor utilizada como contraste */

  --secundaria-dark: #101923; /* Cor secundária a ser utilizada */
  --contraste-dark: #95a3d0; /* Cor utilizada como contraste */

  --texto-light: #050505; /* Texto para tela clara */
  --texto-dark: #fafafa; /* Texto para tela escura */

  --background-light: #ededed; /* Background claro */
  --background-dark: #111111; /* Background escuro*/

  --sombra-light: #ededed; /* Sombra clara */
  --sombra-dark: #121212; /* Sombra escura */

  --cor-contador-erros: #e91515; /* Modo light e dark*/
  --cor-contador-acertos: #069b06; /* Modo light e dark */

  --1x: 0.25rem; /* 4px */
  --2x: 0.5rem; /* 8px */
  --3x: 0.75rem; /* 12px */
  --4x: 1rem; /* 16px */
  --5x: 1.25rem; /* 20px */
  --6x: 1.5rem; /* 24px */
  --7x: 1.75rem; /* 28px */
  --8x: 2rem; /* 32px */
  --9x: 2.25rem; /* 36px */
  --10x: 2.5rem; /* 40px */
  --20x: 5rem; /* 80px */
}
