:root {
  --primaria: #a8c3dc; 

  --secundaria-light: #dce5ef;
  --contraste-light: #4e65b1;

  --secundaria-dark: #101923;
  --contraste-dark: #95a3d0;

  --texto-light: #050505;
  --texto-dark: #fafafa;

  --background-light: #ededed;
  --background-dark: #111111;

  --sombra-light: #ededed;
  --sombra-dark: #121212;

  --cor-vermelha: #d36980;
  --cor-verde: #55ce77;
  --cor-roxa: #ab90ef;

  --1x: 0.25rem;
  --2x: 0.5rem;
  --3x: 0.75rem;
  --4x: 1rem;
  --5x: 1.25rem;
  --6x: 1.5rem;
  --7x: 1.75rem;
  --8x: 2rem;
  --9x: 2.25rem;
  --10x: 2.5rem;
  --20x: 5rem;
}
